/***** BASE STYLES *****/
.full-width{
  width:1200px;
  height: 400px;
  margin: 0 auto;
}
.third-width{
  width:400px;
  height: 400px;
  float:left;
}
body{
  margin:0;
  padding: 0;
}
header,section,footer {
    margin: 0;
    padding: 1px;
  }
/***** HEADER STYLES *****/
header{
      background: url(../../img/shoes.jpg) no-repeat center center;
      height: 800px;
      background-size:cover;
}
h1{
  color: #1E4363;
  font-family:'Oleo Script', cursive;
  font-size: 40px;
}
header a{
  text-decoration: none;
  color: #FFB00D;
  font-family:'Oleo Script', cursive;
  font-size: 100px;
  padding:0px 0px 0px 500px;
}
/***** MAIN STYLES *****/
#contact{
    background-color:#FFB00D;
  }
#contact .third-width {
  padding: 30px 0px 30px 0px;
}

#contact h2{
  color: #1E4363;
  font-size: 60px;
  text-align: center;
  font-family:'Oleo Script', cursive;
}
#contact h3{
  color:#1E4363;
  font-size: 30px;
  font-family:'Oleo Script', cursive;
  padding: 60px;
  text-align:center;

}
#contact p{
  padding: 0px 30px 0 30px;
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 20px;
}

#contact a {
    text-decoration:none;
    color:#000000;
    font-size:20px;
}
#contact #envelope {
      padding: 0 10px 0 50px;
  }
#contact ul {
    list-style: none;
    padding: 0px 0px 0 80px;

}
#contact ul li {
     display: inline-block;

}
#contact ul img {
    padding-right: 60px;


}
/***** FOOTER STYLES *****/
footer{
  background-color: #FFB00D;
}
footer h1{
  font-size: 18px;
  font-family:'Open Sans', sans-serif;
  text-align: center;
  color:#000000;
}
